* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #222;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid rgb(6, 160, 160);
  background-color: rgba(3, 22, 41, 0.544);
  width: 500px;
  font-size: 20px;
  color: white;
}

h3 {
  font-size: 2em;
  justify-content: center;
  text-align: center;
  color: rgb(6, 160, 160);
  font-weight: bold;
}

h5 {
  justify-content: center;
  text-align: center;
  color: rgb(6, 160, 160);
  font-style: italic;
}

.password {
  padding-top: 20px;
}

input {
  display: flex;
  justify-content: center;
  text-align: center;
}

.email {
  padding-top: 10px;
}

.age {
  padding-top: 20px;
}

.date {
  padding-top: 20px;
}

.tel {
  padding-top: 20px;
}

.optional {
  font-size: 0.8rem;
  color: rgb(195, 194, 194);
}

.receive-updates {
  font-size: 1.2rem;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.checkbox-group {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.radio-label {
  margin-top: 10px;
}

.radio-two {
  margin-left: 30px;
}

.btn {
  margin-top: 15px;
  background-color: rgb(6, 160, 160);
  color: white;
}

.btn:hover {
  opacity: 1;
  background-color: rgba(57, 127, 127, 0.386);
}
